#saves-export-reminder {
	padding: 0.5em 1em 0;
}

#saves-list-container {
	display: flex;
	flex-direction: column;
}

#saves-list-container .savesListRow {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	border-top: 1px solid #444;
	padding: 4px;
}

#saves-list-container .savesListRow:first-child {
	border-top: none;
}

@media (min-width: 40rem) {
	#saves-list-container .savesListRow {
		max-height: 2.4em;
	}
}

#saves-list-container .savesListRow .saveGroup {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	/* Set min-width to allow parent correctly to resize this element's children */
	min-width: 0;
}

#saves-list-container .savesListRow .saveGroup > div {
	display: flex;
	justify-content: center;
	margin: 0 10px;
	flex-grow: 0;
	flex-shrink: 0;
}

#saves-list-container .savesListRow .saveGroup .saveId {
	min-width: 2em;
	margin-left: 4px;
	margin-right: -6px;
}


#saves-list-container .savesListRow .saveGroup .saveButton {
	display: flex;
	justify-content: center;
	min-width: 110px;
	margin: 0 10px;
}

#saves-list-container .savesListRow .saveGroup .saveName {
	width: 5em;
}

#saves-list-container .savesListRow .saveGroup .saveButton input {
	margin: 3px 0;
}

#saves-list-container .savesListRow .saveGroup > .saveDetails {
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	min-width: 100px;
}

#saves-list-container .savesListRow .saveGroup > .saveDetails span {
	max-height: 80px;
	white-space: nowrap;
	overflow-x: clip;
}

.jumpToSaveTransition {
	background-color: #444;
	transition-duration: 1s;
}

/*
 * footer for the save list
 */
#savesListFooter {
	justify-content: space-between;
	padding: 0 !important;
	line-height: normal;
}

#savesListFooter div {
	display: flex;
	justify-content: stretch;
}

.datestamp {
	font-size: 0.8em;
}

.listMargin {
	display: inline-block;
	margin: 1px 0;
}

.right {
	float: right;
}

.saveMenuButton {
	background-color: #35a !important;
}

.saveMenuButton:hover {
	background-color: #35a !important;
}

.saveMenuConfirm {
	margin-top: 20px;
	margin-left: 150px;
}

.green {
	color: #38b20a
}

.gold {
	color: gold;
}

.red {
	color: #ec3535;
}
